<%- include header %>

    <hr>
    <% if (rsses) { %>
          <% rsses.forEach(function(rss){ %>
            <div><%= rss.rssUrl %></div>
          <% }) %>
    <% } %>

    <hr>
    <% if (rssItems ) { %>
        <% rssItems.forEach(function(_item,_index){ %>
          <% if(_index<20){%>
            <h2><%= _item.title %></h2>
            <p><%= _item.guid %></p>
            <a href="<%= _item.link %>" target="_blank">link</a>
            <p><%= _item.published %></p>
            <p><%= _item.updated %></p>
            <p><%= _item.summary %></p>
            <% if(_item.author) {%>
              <p><%= _item.author %></p>
            <% }%>
            <p><% _item.description %><p>
          <% }%>
        <% }) %>
	<% } %>

    

<%- include footer %>