<%- include header %>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="list-group">
                    <% if (rsses) { %>
                        <% rsses.forEach(function(rss){ %>
                        <a href="#" class="list-group-item "><%= rss.rssUrl %></a>
                        <% }) %>
                    <% } %>
                </div>
            </div>
            <div class="col-md-8">
                <div class="rssItemLists">
                    <% if (rssItems ) { %>
                        <% rssItems.forEach(function(_item,_index){ %>
                            <% if(_index<5){%>
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <h4 class="list-group-item-heading"><%= _item.title %></h4>
                                    <p class="list-group-item-text"><%= _item.summary %></p>
                                </a>
                            </div>
                            <% }%>
                        <% }) %>
                    <% } %>
                </div>
                <div class="pageList">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>


    

<%- include footer %>