<%- include header %>

    <hr>
    <% if (rsses) { %>
          <% rsses.forEach(function(rss){ %>
            <div><%= rss.rssUrl %></div>
          <% }) %>
    <% } %>

    <hr>
    <% if (rssItems) { %>
	    <h2><%= rssItems.title %></h2>
      <p><%= rssItems.guid %></p>
      <a href="<%= rssItems.link %>">link</a>
      <p><%= rssItems.published %></p>
      <p><%= rssItems.updated %></p>
      <p><%= rssItems.summary %></p>
      <p><%= rssItems.author %></p>
      <%- rssItems.description %>
	<% } %>

    

<%- include footer %>