<%- include header %>


    <hr>
    <% if (rss) { %>
	    <h2><%= rss.title %></h2>
      <p><%= rss.guid %></p>
      <a href="<%= rss.link %>">link</a>
      <p><%= rss.published %></p>
      <p><%= rss.updated %></p>
      <p><%= rss.summary %></p>
      <p><%= rss.author %></p>
      <%- rss.description %>
	<% } %>

<%- include footer %>