<%- include header %>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="list-group">
                    <% if (rsses) { %>
                        <% rsses.forEach(function(rss){ %>
                            <% if(rss.rssName) {%>
                                <a href="/?url=<%= rss.rssUrl %>" class="list-group-item" data-id="<%= rss.rssUrl %>"><%= rss.rssName %></a>
                            <%}%>
                        <% }) %>
                    <% } %>
                </div>
            </div>
            <div class="col-md-8">
                <div class="rssItemLists">
                    <% if (rssItems ) { %>
                        <% rssItems.forEach(function(_item,_index){ %>
                            <div class="list-group">
                                <a href="/article?aid=<%= _item._id %>" class="list-group-item">
                                    <h4 class="list-group-item-heading"><%= _item.title %></h4>
                                    <p class="list-group-item-text"><%= _item.summary %></p>
                                </a>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
                <div class="pageList">
                    <% if (pagePation ) { %>
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <% for(var i= 1,len=pagePation.psize; i<=len; i++) {%>
                                <li><a href="/?p=<%= i %>&&url=<%= pagePation.url %>"
                                            <% if (pagePation.p==i) {%>
                                                class="active"
                                            <% } %> ><%= i %></a></li>
                            <% } %>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <hr>


    

<%- include footer %>